.mainPage{
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    border: 1px solid black;
}

.converstions{
    flex: 3;
    border-right: 1px solid black;
    height: 650px;
}

.chatBox{
    flex:7;
    width: 100%;
}